@layer common {
  .parentFlexRowCenter {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    gap: 1em;
  }

  .parentFlexColCenter {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    gap: 1em;
  }

  .blockSizeFullV {
    block-size: 100vh;
  }

  .blockSizeFull {
    block-size: 100%;
  }

  .pre {
    color: gold;
    background-color: darkslategrey;
    padding: 2em;
  }
}